##
# Publish new action tag(s) for downstream consumption
##
name: Publish

# Manual or automatic release
on:
  release:
    types: [published, edited]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      # Release with semantic tag like v1.0.3
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup Node
        uses: actions/setup-node@v2

      # Build が重複するが、ライセンスのファイルを事前に release へアップロードするため.
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-rel-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-rel-${{ env.cache-name }}-
            ${{ runner.os }}-rel-

      - name: Install modules
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Make licenses.zip file
        run: zip "./licenses.zip" dist/licenses.txt

      - name: Upload licenses.zip file to release Asset
        id: upload-release-asset
        uses: shogo82148/actions-upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./licenses.zip
          asset_name: licenses.zip
          asset_content_type: application/zip

      - name: Prepend license banner into dist/index.mjs
        run: |
          bash scripts/license-banner.sh "${DOWNLOAD_URL}" | cat - dist/index.mjs > tmp.txt
          mv tmp.txt dist/index.mjs
        env:
          DOWNLOAD_URL: ${{ steps.upload-release-asset.outputs.browser_download_url }}

      # Compile dist/index.js and bundle with action.yml
      # Force push major and minor tags, e.g. v1, v1.0
      # See documentation: https://github.com/JasonEtco/build-and-tag-action
      - uses: JasonEtco/build-and-tag-action@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
