name: Test action code
on:
  push:
    branches:
      - '**'
      #- '!main'
    tags:
      - '!v*'

jobs:
  test-modules:
    runs-on: ubuntu-latest
    name: Test modiules
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-push-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-push-${{ env.cache-name }}-
            ${{ runner.os }}-push-

      - name: Install modules
        run: npm ci

      - name: Run tests
        run: npm run test:build

      - name: Diff built files
        run: |
          git diff --exit-code --quiet README.md

  test-main:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    name: Test main
    steps:
      - uses: actions/checkout@v3

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-act-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-act-${{ env.cache-name }}-
            ${{ runner.os }}-act-

      - name: Install modules
        run: npm ci

      - name: Build
        run: npm run build

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Send file
        id: send
        uses: hankei6km/gdrive-act-send@v0
        with:
          parent_id: ${{ secrets.PARENT_ID }}
          dest_file_name: gdrive-act-share-test-readme.md
          src_file_name: README.md

      - name: Share file(normal end)
        uses: ./
        with:
          file_id: ${{ steps.send.outputs.file_id }}
          type: ${{ secrets.SHARE_TYPE }}
          role: ${{ secrets.SHARE_ROLE }}
          email_address: ${{ secrets.SHARE_EMAIL_ADDRESS }}
          send_notification_email: 'false'

      - name: Share file(normal end with dest_file_name)
        uses: ./
        with:
          parent_id: ${{ secrets.PARENT_ID }}
          dest_file_name: gdrive-act-share-test-readme.md
          type: ${{ secrets.SHARE_TYPE }}
          role: ${{ secrets.SHARE_ROLE }}
          email_address: ${{ secrets.SHARE_EMAIL_ADDRESS }}
          send_notification_email: 'false'

      - name: Share file(email_address is not exist)
        id: share_failed
        continue-on-error: true
        uses: ./
        with:
          file_id: ${{ steps.send.outputs.file_id }}
          type: ${{ secrets.SHARE_TYPE }}
          role: ${{ secrets.SHARE_ROLE }}
          send_notification_email: 'false'

      - name: Check failure
        run: test "${FAILURE}" = "failure"
        env:
          FAILURE: ${{ steps.share_failed.outcome }}
